<div class="container col-6 text-center">
    <div class="form-group text-center">
        <div>
            <label for="idUser">ID</label>
            <input type="text" class="form-control" id="idUser" readonly>
        </div>
        <div>
            <label for="firstName">First name</label>
            <input type="text" class="form-control" id="firstName">
        </div>
        <div>
            <label for="lastName">Last name</label>
            <input type="text" class="form-control" id="lastName">
        </div>
        <div>
            <label for="age">Age</label>
            <input type="number" class="form-control" id="age">
        </div>
        <div>
            <label for="email">E-mail</label>
            <input type="text" class="form-control" id="email" autocomplete="username">
        </div>
        <div id="password-div">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" autocomplete="current-password">
        </div>
        <div>
            <label for="likedUser">Role</label>
            <select multiple class="form-control" id="likedUser" name="likedUser">

            </select>
        </div>
    </div>
</div>

