<div class="container col-3 form-group text-center">
    <form role="form" id="user-addForm">
        <div>
            <label for="newFirstName">First name</label>
            <input type="text" class="form-control" placeholder="Enter first name" id="newFirstName">
        </div>
        <div>
            <label for="newLastName">Last name</label>
            <input type="text" class="form-control" placeholder="Enter last name"  id="newLastName">
        </div>
        <div>
            <label for="newAge">Age</label>
            <input type="number" class="form-control"  id="newAge">
        </div>
        <div>
            <label for="newEmail">E-mail</label>
            <input type="text" class="form-control"  id="newEmail" value=''>
        </div>
        <div id="password-div">
            <label for="newPassword">Password</label>
            <input type="password" class="form-control" placeholder="Enter password" id="newPassword" name="password" value=''>
        </div>
        <div>
            <label for="likedUser">Role</label>
            <select multiple class="form-control" id="likedUser" name="likedUser">

            </select>
        </div>
        <div>
            <button type="button" id="buttonAddNew" class="btn btn-success mt-3">Add new User</button>
        </div>
    </form>
</div>