<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <script type="text/javascript" src="webjars/jquery/3.6.0/jquery.js"></script>
    <!--    <script type="text/javascript" src="webjars/popper.js/"-->
    <script type="text/javascript" src="webjars/bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
    <!--    <link rel="stylesheet" th:src="@{mainStyle.css}" src="../static/mainStyle.css" type="text/css">-->
    <link rel="stylesheet" href="/mainStyle.css" type="text/css">
    <link rel="stylesheet" href="webjars/bootstrap/4.6.0/css/bootstrap.min.css">

</head>
<body>

<header class="container-fluid d-flex flex-row align-items-center justify-content-between p-3 bg-dark text-white">
    <div><b sec:authentication="name"/> with roles:
<!--        <th:block th:each="role : ${#authentication.authorities}">-->
            &nbsp;<span th:text="${userRoles}"/>
<!--        </th:block></div>-->
    </div>
    <div><a class="text-light" th:href="@{/logout}">Logout</a></div>
</header>

<!--<div class="p-3 mb-2 bg-dark text-white">-->

<!--    <ul class="nav justify-content-sm-between">-->
<!--        <li class="nav-item">-->
<!--            <p class="text" th:text="${userEmail}"/> <p class="text" th:text="${userRoles}"></p>-->
<!--&lt;!&ndash;            <div class="text"></div>&ndash;&gt;-->
<!--        </li>-->

<!--        <li class="nav-item">-->
<!--            <div sec:authorize="isAuthenticated()">-->
<!--                <a href="javascript: document.logoutForm.submit()" class="dropdown-toggle ">Sign out</a>-->
<!--                <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">-->
<!--                    <input hidden type="submit" value="Sign Out"/>-->
<!--                </form>-->
<!--            </div>-->
<!--        </li>-->
<!--    </ul>-->
<!--</div>-->

<div class="container-fluid d-flex flex-row vh-200 p-0">
    <div th:replace="fragments/navigation :: navigation(currentPage='admin')"/>

    <div class="flex-grow-1 bg-light p-3">
        <h1>Admin panel</h1>
        <div class="container-fluid">
            <nav>
                <div class="nav nav-tabs border-bottom-0" id="nav-tab" role="tablist">
                    <a class="nav-link active" id="nav-users_table-link" data-toggle="tab" href="#nav-users_table"
                       role="tab" aria-controls="nav-users_table">Users table</a>
                    <a class="nav-link" id="nav-user_form-link" data-toggle="tab" href="#nav-user_form"
                       role="tab" aria-controls="nav-user_form">New user</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-users_table" role="tabpanel">
                    <div class="row border">
                        <h5 class="m-2">All users</h5>
                    </div>
                    <div class="row border bg-white pb-2">
                        <div th:replace="fragments/users-table"/>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-user_form" role="tabpanel">
                    <div class="row border">
                        <h5 class="m-2">Add new user</h5>
                    </div>
                    <div class="row border bg-white pb-2">
                        <div th:replace="fragments/userAddForm"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br/>
<hr/>

<div id="user-profile" class="modal fade">
    <div class="modal-dialog">
        <th:block th:if="${showUserProfile}">
            <div th:replace="modal/userForm"/>
        </th:block>
    </div>
</div>

<script type="text/javascript" th:src="@{main.js}" src="../static/main.js"></script>

</body>
</html>